name: build-beta
on:
    push:
        paths-ignore:
            - 'README.md'
            - datasets/**
        branches:
            - 'beta'

jobs:
    test:
        name: Lint test
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@master
            - name: Setup Python
              uses: actions/setup-python@v6
              with:
                  python-version: 3.13
            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
            - name: Lint with flake8
              run: |
                  pip install flake8
                  flake8 . --max-line-length=150
    buildx:
        runs-on: ubuntu-latest
        needs: test
        steps:
            - name: Checkout
              uses: actions/checkout@v5
            - name: Get Version
              id: get_version
              uses: battila7/get-version-action@v2.3.0
            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3
            - name: Set up Docker Buildx
              id: buildx
              uses: docker/setup-buildx-action@v3
            - name: Available platforms
              run: echo ${{ steps.buildx.outputs.platforms }}
            - name: Login to DockerHub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKERHUBUNAME }}
                  password: ${{ secrets.DOCKERHUBPWD }}
            - name: Run Buildx
              run: |
                  docker buildx build --push \
                  --tag mourticarius/dht22mqtt-domoticz:beta \
                  --platform linux/arm/v7,linux/arm64 .
            - name: Docker Hub Description
              uses: peter-evans/dockerhub-description@v5
              env:
                  DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUBUNAME }}
                  DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUBPWD }}
                  DOCKERHUB_REPOSITORY: mourticarius/dht22mqtt-domoticz
